obj-*
*.axf
*.hex
*.s
simavr/simavr
simavr/run_avr
simavr/run_avr.exe
*.a
.tags*
._*
*.vcd
TAGS
callgrind.out.*
*~
*.o
*.elf
*.objdump
perf.data
.DS_Store
.make.options*
.vscode/*
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/progress.marks
CMakeFiles/simavr.dir/build.make
CMakeFiles/simavr.dir/cmake_clean.cmake
CMakeFiles/simavr.dir/cmake_clean_target.cmake
CMakeFiles/simavr.dir/compiler_depend.make
CMakeFiles/simavr.dir/compiler_depend.ts
CMakeFiles/simavr.dir/depend.make
CMakeFiles/simavr.dir/DependInfo.cmake
CMakeFiles/simavr.dir/flags.make
CMakeFiles/simavr.dir/link.txt
CMakeFiles/simavr.dir/progress.make
CMakeFiles/simavr.dir/simavr/sim/avr_acomp.c.o.d
CMakeFiles/simavr.dir/simavr/sim/avr_adc.c.o.d
CMakeFiles/simavr.dir/simavr/sim/avr_bitbang.c.o.d
CMakeFiles/simavr.dir/simavr/sim/avr_eeprom.c.o.d
CMakeFiles/simavr.dir/simavr/sim/avr_extint.c.o.d
CMakeFiles/simavr.dir/simavr/sim/avr_flash.c.o.d
CMakeFiles/simavr.dir/simavr/sim/avr_ioport.c.o.d
CMakeFiles/simavr.dir/simavr/sim/avr_lin.c.o.d
CMakeFiles/simavr.dir/simavr/sim/avr_spi.c.o.d
CMakeFiles/simavr.dir/simavr/sim/avr_timer.c.o.d
CMakeFiles/simavr.dir/simavr/sim/avr_twi.c.o.d
CMakeFiles/simavr.dir/simavr/sim/avr_uart.c.o.d
CMakeFiles/simavr.dir/simavr/sim/avr_usb.c.o.d
CMakeFiles/simavr.dir/simavr/sim/avr_watchdog.c.o.d
CMakeFiles/simavr.dir/simavr/sim/run_avr.c.o.d
CMakeFiles/simavr.dir/simavr/sim/sim_avr.c.o.d
CMakeFiles/simavr.dir/simavr/sim/sim_cmds.c.o.d
CMakeFiles/simavr.dir/simavr/sim/sim_core.c.o.d
CMakeFiles/simavr.dir/simavr/sim/sim_cycle_timers.c.o.d
